#  Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

#  Virtual environment folder
venv/
env/

#  SQLite database file
*.db

#  Excel or CSV output files
*.xlsx
*.csv

#  IDE and editor settings
.vscode/
.idea/

#  System files
.DS_Store
Thumbs.db

#  Logs
*.log

#  Environment variables or credentials
.env

